.title, .store-name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.title {
  color: #2c3e50;
  margin-bottom: 10px;
}
.store-name {
  color: #16a085;
}
